<div class="site-column-post">
  <div class="site-content-post">
      <article class="post-all-content">
          <div class="post-name">
            <h2><%= post.title %></h2>
          </div>
          <div class="post-info">
              <span class="post-info-date">
                <i class="iconfont icon-calendar"></i>
                <%= date(post.date) %>
              </span>
              <span class="post-update">
                <i class="iconfont icon-copy"></i>
                <%= date(post.updated) %>
              </span>
              <% if (post.categories.data.length) { %>
              <span class="post-category">
                <i class="iconfont icon-folder"></i>
                <% post.categories.data.forEach(function(cat,index){ %>
                  <% if(!index){ %>
                    <a href="<%= url_for() + cat.path %>"><%= cat.name %></a>
                  <% } %>
                <% }) %>
              </span>
              <% } %>
              <% if (post.tags.data.length) { %>
              <span class="post-tag">
                <i class="iconfont icon-collection"></i>
                <% post.tags.data.forEach(function(tag){ %>
                  <a href="<%= url_for() + tag.path %>"><%= tag.name %></a>
                <% }) %>
              </span>
              <% } %>
              <span class="back-to-home">
                <a href="<%= url_for() %>">
                  <span><%= config.title %></span>
                  <i class="iconfont icon-home"></i>
                </a>
              </span>
          </div>
          <div class="post-body">
            <%- post.content %>
          </div>
      </article>

      <div class="post-navigation">
        <% if (post.prev){ %>
        <div class="post-previous">
          <a href="<%- url_for(post.prev.path) %>">
              <i class="iconfont icon-round-arrow-left"></i> 
              <span class="post-prev-title"><%= post.prev.title %></span>
          </a>
        </div>
        <% }%>
        <% if (post.next){ %>
        <div class="post-next">
            <a href="<%- url_for(post.next.path) %>">
                <span class="post-next-title"><%= post.next.title %></span>
                <i class="iconfont icon-round-arrow-right"></i>
            </a>
        </div>
        <% }%>
      </div>
  </div>

  <div id="disqus_thread"></div>
  <script>
  
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  var disqus_config = function () {
  this.page.url = "<%= page.permalink %>";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "<%= page.permalink %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://qiwenke.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
<div class="post-catalog"></div>
